<div class="table-container">
  <div *ngFor="let item of displayItems" 
       class="item-row" 
       [class.selected]="isSelected(item)"
       (click)="allowSelection && onRowClick($event, item)">
    <!-- checkbox removed: selection is via row click, visualized with .selected -->
    <ng-container *ngIf="allowSelection; else linkedPreview">
      <app-item-preview [item]="item"></app-item-preview>
    </ng-container>
    <ng-template #linkedPreview>
      <app-item-preview [item]="item" [routerLink]="['/items', item.id]"></app-item-preview>
    </ng-template>
  </div>
</div>
