.auction-item-list_25-15 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
  width: 1440px;
  height: 1024px;
}
.header_25-16 {
  top: 43px;
  left: 62px;
  position: absolute;
  display: flex;
  width: 1293px;
  height: 46px;
}
.setttings-button_25-17 {
  width: 165px;
  height: 45px;
}
.text-settings_25-18 {
  color: #00008b;
  font-size: 33px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  width: 165px;
  height: 45px;
}

.action-button_25-19 {
  width: 164px;
  height: 45px;
}
.text-auction_25-20 {
  color: #00008b;
  font-size: 33px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  width: 164px;
  height: 45px;
}

.logo_25-21 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.layer-00000172405586169702717860000011711031187528336813-_25-22 {
  top: 1px;
  left: 1px;
  position: absolute;
  display: flex;
  width: 137px;
  height: 45px;
}
.layer_25-23 {
  display: flex;
}

.layer-00000157296806802132974230000002905434903831727266-_25-24 {
  display: flex;
}

.layer-00000166634160939536596060000006218727120758457994-_25-25 {
  display: flex;
}

.line_25-26 {
  top: 130px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-6_26-86 {
  top: 171px;
  left: 414px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-7_26-88 {
  top: 254px;
  left: 546px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-login_26-87 {
  top: 254px;
  left: 546px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 21px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  width: 336px;
  height: 88px;
}

.rectangle-8_26-143 {
  top: 456px;
  left: 564px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-username-_26-147 {
  top: 435px;
  left: 588px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  width: 95px;
  height: 18px;
}

.rectangle-9_26-145 {
  top: 563px;
  left: 564px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-password-_26-148 {
  top: 542px;
  left: 588px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  width: 95px;
  height: 18px;
}

.rectangle-10_26-150 {
  top: 655px;
  left: 614px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-confirm_26-153 {
  top: 661px;
  left: 677px;
  position: absolute;
  display: flex;
  color: #0073e6b2;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
  width: 74px;
  height: 19px;
}
