<div class="form-container">
  <p>Create auction</p>
  <input type="text" [(ngModel)]="name" placeholder="Auction name" class="boxes">
  <input type="datetime-local" [(ngModel)]="startDateString" placeholder="Start date" class="boxes">
  <input type="datetime-local" [(ngModel)]="endDateString" placeholder="End date" class="boxes">
  <button class="boxes" (click)="onAddItemsClick()">Přidat položky</button>

  <app-auction-add-items
  *ngIf="auctionItemspopupVisible"
  (itemsSelected)="onAddedItems($event)"
  [auctionId]="auctionId">
</app-auction-add-items>

  <p *ngIf="selectedItemIds && selectedItemIds.length > 0">
    Vybráno {{ selectedItemIds.length }} položek
  </p>

  <button class="boxes" (click)="promptCreateAuction()">Vytvořit aukci</button>

  <app-confirmation-dialog #confirmation (confirmed)="onConfirmation($event)"></app-confirmation-dialog>
</div>