<div class="header-container">
  <div class="logo-container">
    <a routerLink="/">
      <img src="https://assets-global.website-files.com/659672b663c389735562a2fc/6597d1339182d3113c410743_Atos-logo-2024-W.png" alt="Atos Logo">
    </a>
  </div>
  <div class="nav-links">
    <a routerLink="/auctions" routerLinkActive="active-link">Aukce</a>
    <a *ngIf="isAdmin" routerLink="/item-creation" routerLinkActive="active-link">Vytvořit předmět</a>
    <a *ngIf="isAdmin" routerLink="/csv-import" routerLinkActive="active-link">CSV Import</a>
  </div>
  <div class="user-menu">
    <a routerLink="/user-info" class="user-info-link">
      <i class="fas fa-user-circle"></i>
      <span>{{ userName }}</span>
    </a>
    <button (click)="onLogout()" class="logout-btn">
      <i class="fas fa-sign-out-alt"></i>
      <span>Odhlásit</span>
    </button>
  </div>
</div>

<router-outlet></router-outlet>