<div class="header">
  <!-- Logo and Text -->
  <div class="header-left">
    <img src="/atos-logo-blue-2023.svg" alt="Atos Logo" class="logo">
  </div>

  <!-- Navigation Links -->
  <div class="nav-links">
    <a routerLink="/auctions" routerLinkActive="active-link">Aukce</a>
    <a *ngIf="isAdmin" routerLink="/items" routerLinkActive="active-link">Seznam předmětů </a>
    <a *ngIf="isAdmin" routerLink="/create-item" routerLinkActive="active-link">Vytvořit předmět</a>
    <a *ngIf="isAdmin" routerLink="/create-auction" routerLinkActive="active-link">Vytvořit akci</a>
    <a *ngIf="isAdmin" routerLink="/csv-import" routerLinkActive="active-link">CSV Import</a>
    <a *ngIf="isAdmin" routerLink="/reports" routerLinkActive="active-link">Reporty</a>
  </div>

  <!-- User Menu -->
  <div class="user-menu">
    <a routerLink="/user" class="user-info-link">
      <i class="fas fa-user-circle"></i>
      <span>{{ userName }}</span>
    </a>
    <button (click)="onLogout()" class="logout-btn">
      <i class="fas fa-sign-out-alt"></i>
      <span>Odhlásit</span>
    </button>
  </div>
</div>

<router-outlet></router-outlet>