<div class="page-container">
  <div class="form-container">
    <h1 class="page-title">Změna hesla</h1>

    <div class="form-group">
      <label for="currentPassword">Aktuální heslo</label>
      <input id="currentPassword" type="password" class="form-control" [(ngModel)]="oldPassword" required>
    </div>

    <div class="form-group">
      <label for="newPassword">Nové heslo</label>
      <input id="newPassword" type="password" class="form-control" [(ngModel)]="newPassword" required>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Potvrďte nové heslo</label>
      <input id="confirmPassword" type="password" class="form-control" [(ngModel)]="confPassword" required>
    </div>

    <button class="modern-btn" (click)="onChangePassword()">Změnit heslo</button>

    <div *ngIf="changePasswordError" class="error-message">
      {{ errorMessage }}
    </div>
    <div *ngIf="changePasswordSuccess" class="success-message">
      Heslo bylo úspěšně změněno.
    </div>
  </div>
</div>
