.preview-container {
    font-size: 3vh;
    justify-content: center;
    align-items: center;
    border: solid;
    border-radius: 3vh;
    width: 70vh;
    height: 10vh;
    display: flex;
    gap: 5vh
}


.btn {
    background-color: orange;
    border: solid;
    border-radius: 2vh;
    font-size: 3vh;

}
