<div class="page-container">
  <h1 class="page-title">Vytvořit předmět</h1>

  <div *ngIf="this.loaded" class="form-container">
    <input type="text" [(ngModel)]="this.itemName" placeholder="Název předmětu" class="form-control">
    <input type="number" [(ngModel)]="this.startingPrice" placeholder="Vyvolávací cena" class="form-control">
    
    <select class="form-control" [(ngModel)]="selectedGroup" (change)="onSelectionChange($event)">
        <option [ngValue]="null" disabled>Vyberte kategorii</option>
        <option *ngFor="let group of groups" [ngValue]="group">{{ group.name }}</option>
    </select>

    <input 
        type="text" 
        *ngFor="let param of selectedGroup.additionalParamsKeys"
        placeholder="{{ param }}" 
        class="form-control"
        [(ngModel)]="paramValues[param]">

    <div 
        class="drag-drop-area" 
        (dragover)="onDragOver($event)" 
        (dragleave)="onDragLeave($event)" 
        (drop)="onDrop($event)">
        <p>Přetáhněte obrázky sem</p>
    </div>
    
    <div class="file-list">
      <p *ngFor="let file of loadedFiles">{{ file.name }}</p>
    </div>

    <app-confirmation (result)="onConfirmation($event)"></app-confirmation>
  </div>
</div>