<div class="page-container">
  <h1 class="page-title">Aukce</h1>

  <app-first-login-rules-modal 
  *ngIf="showRulesModal" 
  [ruleTitle]="ruleTitle" 
  [ruleBody]="ruleBody" 
  (accepted)="onRulesAccepted()" 
  (rejected)="onRulesRejected()">
  </app-first-login-rules-modal>

  <div *ngIf="this.loaded" [class.dimmed]="showRulesModal">
    <app-auction-table [auctionPreviews]="auctionPreviewsOnPage"></app-auction-table>

  <button 
    aria-label="Vytvořit novou aukci"
    *ngIf="this.authService.isAdmin()" 
    class="fixed-btn create-action fab-inline" 
    [routerLink]="['/create-auction']">
    <i class="fas fa-plus"></i>
    Vytvořit aukci
  </button>
  </div>
</div>
